__pycache__
*/__pycache__
Include/
Lib/
Scripts/
pyvenv.cfg
dist/
src/ImagenesMain_rcanessa.egg-info
src/ImagenesMail_rcanessa/funcionesutiles.py
src/ImagenesMail_rcanessa/mensajes.py
src/ImagenesMail_rcanessa.egg-info
docs/build/*


!docs/build/index.txt
